.popup__confirmation-container {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  width: 430px;
  height: 181px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .popup__confirmation-container {
    width: 282px;
    height: 150px;
  }
}

